/* Misc */
/* colors */
/* font families */
/* spacing */
/* Font sizes */
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF; }

ul {
  list-style-type: none; }

li a {
  color: #FFFFFF;
  margin: 0.625rem; }

h1 {
  font-size: 2.4em; }

h1, h2 {
  text-align: center; }

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s ease-in 0.1s both;
  animation: scale-up-center 0.4s ease-in 0.1s both; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* Transition */
#transition1 {
  transition-timing-function: ease-in; }

#transition1:hover {
  font-size: 1.2em;
  font-weight: 700;
  color: red; }

/* Partials */
.bg-img {
  background-image: url("../img/cheerful-attractive-young-woman-with-backpack-and-notebooks-standing-and-smiling-in-park.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px; }

.banner-text {
  padding-top: 33%; }

.position-text {
  text-align: center;
  margin-top: 5px; }

.position-text li {
  float: none;
  display: inline-block; }

a {
  text-decoration: none; }

h1 {
  font-size: 2.4em;
  margin-bottom: 0;
  color: #FFFFFF; }

/************ nav ************/
.topnav {
  overflow: hidden;
  background-color: #86785C; }
  .topnav__a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em; }
  .topnav__li {
    float: right;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 1em;
    margin: 0; }
  .topnav__h1 > a {
    margin-top: 14px; }

footer {
  position: relative;
  bottom: 0;
  color: #ebe6e0;
  background-color: #28241c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%; }

.footer-iconos {
  margin-left: 20px;
  align-items: center; }

/* Views */
h3 {
  text-align: left;
  font-size: 0.65em;
  font-weight: 400; }

/**.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.25fr 0.5fr 0.25fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    &__img:nth-of-type(1) {
        grid-area: 1 / 1 / 3 / 2;
    }
    
    &__img:nth-of-type(2) {
        grid-area: 1 / 2 / 2 / 3; 
    }
    
    &__img:nth-of-type(3) {
        grid-area: 3 / 1 / 5 / 2; 
    }
    
    &__img:nth-of-type(4) {
        grid-area: 2 / 2 / 4 / 3;
    }
    
    &__img:nth-of-type(5) {
        grid-area: 5 / 1 / 6 / 2;
    }
    
    &__img:nth-of-type(6) {
        grid-area: 4 / 2 / 6 / 3; 
    }    
}**/
