#donde{
    background-image: url("../img/background/mapa.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
.donde-at{
     background-color: #FFFFFF;
     border-radius: 10px;
     width: 50%;
 }